.header {
  margin-top: 40px;
}

.footer {
  position: absolute;
  bottom: 40px;
}

h1 {
  font-size: 18px;
  font-family: Arial;
  font-weight: 700;
}

.bot {
  width: 16px;
  padding-right: 8px;
  display: inline;
}

body {
  font-family: Arial, sans-serif;
}

.beta {
  font-size: 10px;
  margin-left: 12px;
  display: inline-block;
  font-weight: 500;
  background-color: #21a4c4;
  font-family: Arial;
  padding: 3px 6px;
  color: white;
  border-radius: 3px;
}

.crystal {
  width: 35vh;
}

.opener {
  font-size: 40px;
  margin-bottom: 20px;
}

code {
  background-color: #eee;
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 12px;
}